body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@font-face {
  font-family: "Billabong";   /*Can be any text*/
  src: local("Billabong"),
    url("./assets/fonts/Billabong.ttf") format("truetype");
}