:root {
    --sidebar-width: 0px;
}

/* > sm */
@media (min-width: 768px) {
    :root {
        --sidebar-width: 4.5rem;
    }
}

/* > xl */
@media (min-width: 1200px) {
    :root {
        --sidebar-width: 15.3rem;
    }
}

/* > xxxxl */
@media (min-width: 1920px) {
    :root {
        --sidebar-width: 21rem;
    }
}

.sidebar {
    width: var(--sidebar-width);
    border-right: 1px solid #dcdcdc;
}

.sidebar-logo {
    font-size: 18px !important;
}

.nav-item {
    text-decoration: none;
}

.sidebar .icon-wrapper {
    width: 24px;
    height: 24px;
    display: inline-block;
    font-size: 22px;
    text-align: center;
}

.nav-item .label {
    font-size: 16px;
    vertical-align: text-bottom;
}

.nav-item:hover {
    background-color: #f3f3f3;
    transition: background-color 0.2s;
}

.dropdown-toggle:after { content: none }